@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme{
  --color-primary: #34D399;  
  --color-primary-dark: #059669;
  --color-dark: #1F2937;
  --font-sans: "Inter", sans-serif; 
}

/* Base styles */
body {
  background-color: #F9FAFB;
  color: var(--color-dark);
}

/* Tùy chỉnh thanh định vị (Pagination) của Swiper */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #D1D5DB; /* gray-300 */
  opacity: 1;
  transition: all 0.3s ease; /* Hiệu ứng chuyển động mượt */
}

.swiper-pagination-bullet-active {
  width: 32px !important; /* Kéo dài ra khi active */
  border-radius: 999px;
  background-color: var(--color-primary) !important; /* Dùng màu primary */
}

/* Đẩy các chấm xuống dưới một chút để không dính vào khóa học */
.swiper-pagination {
  position: static !important;
  margin-top: 32px;
}

/* Animation chạy chữ vô tận (Marquee) */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } 
  /* Chạy từ 0 đến -50% vì mình sẽ nhân đôi danh sách item lên */
}

.animate-marquee {
  display: flex;
  width: max-content; /* Quan trọng: để nội dung không bị xuống dòng */
  animation-name: scroll;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* Class tạm dừng khi hover */
.pause-on-hover:hover .animate-marquee {
  animation-play-state: paused;
}



@keyframes float-slow {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
}

@keyframes float-delayed {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
}

.animate-float-slow {
  animation: float-slow 6s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float-delayed 7s ease-in-out infinite;
  animation-delay: 1s;
}

.animate-blob {
  animation: blob 10s infinite;
}

@keyframes blob {
  0% { transform: translate(0px, 0px) scale(1); }
  33% { transform: translate(30px, -50px) scale(1.1); }
  66% { transform: translate(-20px, 20px) scale(0.9); }
  100% { transform: translate(0px, 0px) scale(1); }
}
